name: Day 3 Full Scan

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: false

    - name: Create Conda environment
      run: conda env create -f conda_env.yml
      shell: bash

    - name: Activate Conda environment
      run: conda activate conda_env
      shell: bash

    - name: Run main.py
      run: python src/main.py
